@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&family=Poppins:wght@500;600&display=swap");
:root {
  --black: #212121;
  --black-dark: #111111;
  --gray: #646464;
  --white: #ffffff;
  --white-dark: #f8f8f8;
  --accent-light: #caa892;
  --accent-light-hover: #d5baa8;
  --accent-dark: #37806b;
  --accent-dark-hover: #3e9179;
  --icon-background: #d5d5d5;
  --input-background: #eeeeee;
  --image-border: #b0855b;
}

* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(14px, 1.25vw, 18px);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(36px, 5vw, 72px);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--black);
}

h2 {
  font-size: clamp(24px, 3.3333333333vw, 48px);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
}

h3 {
  font-size: clamp(22px, 2.0833333333vw, 30px);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--black);
}

h4 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black);
}
h4.white {
  color: var(--white-dark);
}

h5 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--gray);
}

p {
  font-size: clamp(14px, 1.25vw, 18px);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--gray);
}
p.white {
  color: var(--white-dark);
}

.section {
  padding-block: 80px;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 120px;
}
@media (max-width: 1023px) {
  .container {
    padding-inline: 60px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-inline: 30px;
  }
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

.image--border-top-left {
  position: relative;
}
.image--border-top-left::after {
  content: "";
  position: absolute;
  top: -3.5%;
  left: -3.5%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--image-border);
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
  z-index: -1;
}
.image--border-bottom-right {
  position: relative;
}
.image--border-bottom-right::after {
  content: "";
  position: absolute;
  top: 3.5%;
  left: 3.5%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--image-border);
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
  z-index: -1;
}

.header {
  padding-top: 37px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    width: 100%;
    height: 100%;
  }
}
.header__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-left: 40px;
  margin-right: 20px;
}
@media (max-width: 1023px) {
  .header__list {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20px;
    padding-block: 20px;
  }
}
.header__item {
  transition: color 200ms ease-in-out;
}
@media (hover: hover) {
  .header__item:hover {
    color: var(--accent-dark);
  }
}
@media (hover: none) {
  .header__item:active {
    color: var(--accent-dark);
  }
}
.header__link {
  font-weight: 500;
  text-transform: uppercase;
}
.header__button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-light);
  color: var(--white);
  font-weight: 600;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-inline: 19px;
  padding-block: 5px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}
@media (hover: hover) {
  .header__button:hover {
    background-color: var(--accent-light-hover);
  }
}
@media (hover: none) {
  .header__button:active {
    background-color: var(--accent-light-hover);
  }
}

.hero__wrapper {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
  align-items: center;
}
@media (max-width: 768px) {
  .hero__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hero__content-route {
  margin-bottom: 12px;
}
.hero__content-title {
  margin-bottom: 23px;
}
.hero__content-description {
  margin-bottom: 28px;
}
.hero__content-button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-dark);
  color: var(--white);
  font-weight: 700;
  padding-inline: 28px;
  padding-block: 7.5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out;
}
@media (hover: hover) {
  .hero__content-button:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .hero__content-button:active {
    background-color: var(--accent-dark-hover);
  }
}
@media (max-width: 768px) {
  .hero__content-button {
    margin-bottom: 30px;
  }
}
.hero__image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}

@media (max-width: 768px) {
  .our-service__route {
    text-align: center;
    margin-bottom: 25px;
  }
}
.our-service__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .our-service__header {
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
}
.our-service__header-swiper-buttons-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.our-service__header-swiper-button-prev, .our-service__header-swiper-button-next {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin-top: 0 !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100%;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.3019607843);
  transition: background-color 200ms ease-in-out;
}
.our-service__header-swiper-button-prev::after, .our-service__header-swiper-button-next::after {
  font-size: 8px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  translate: -50% -50% !important;
}
.our-service__header-swiper-button-prev {
  color: var(--gray) !important;
}
@media (hover: hover) {
  .our-service__header-swiper-button-prev:hover {
    background-color: var(--white-dark);
  }
}
@media (hover: none) {
  .our-service__header-swiper-button-prev:active {
    background-color: var(--white-dark);
  }
}
.our-service__header-swiper-button-next {
  background-color: var(--accent-dark);
  color: var(--white) !important;
}
@media (hover: hover) {
  .our-service__header-swiper-button-next:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .our-service__header-swiper-button-next:active {
    background-color: var(--accent-dark-hover);
  }
}
.our-service__swiper-slide-wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1411764706);
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: 30px;
  padding: 40px 20px 40px 40px;
}
@media (max-width: 768px) {
  .our-service__swiper-slide-wrapper {
    padding-left: 10px;
    padding-right: 0px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.our-service__swiper-slide-wrapper.accent {
  background-color: var(--accent-light);
}

.about-us__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .about-us__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .about-us__top-image-wrapper {
    order: 1;
  }
}
.about-us__top-content {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .about-us__top-content {
    text-align: center;
  }
}
.about-us__top-content-route {
  margin-bottom: 6px;
}
.about-us__top-content-title {
  margin-bottom: 22px;
}
.about-us__top-content-description {
  margin-bottom: 28px;
}
.about-us__top-content-button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-dark);
  color: var(--white);
  padding-inline: 18px;
  padding-block: 7.5px;
  text-transform: uppercase;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 200ms ease-in-out;
  font-weight: 700;
}
@media (hover: hover) {
  .about-us__top-content-button:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .about-us__top-content-button:active {
    background-color: var(--accent-dark-hover);
  }
}
@media (max-width: 768px) {
  .about-us__top-content-button {
    margin-bottom: 40px;
  }
}
.about-us__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 154px;
       column-gap: 154px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .about-us__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .about-us__bottom-content {
    text-align: center;
  }
}
.about-us__bottom-content-text-decorated {
  font-size: clamp(144px, 20vw, 288px);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  background: url("../images/about-us/james-lindsay.jpg") no-repeat center;
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.about-us__bottom-content-title {
  margin-bottom: 28px;
}
.about-us__bottom-content-button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-dark);
  color: var(--white);
  padding-inline: 18px;
  padding-block: 7.5px;
  text-transform: uppercase;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 200ms ease-in-out;
  font-weight: 700;
}
@media (hover: hover) {
  .about-us__bottom-content-button:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .about-us__bottom-content-button:active {
    background-color: var(--accent-dark-hover);
  }
}
@media (max-width: 768px) {
  .about-us__bottom-content-button {
    margin-bottom: 40px;
  }
}
.about-us__image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}

.statistic {
  background-color: var(--white-dark);
}
.statistic__title {
  text-align: center;
  margin-bottom: 87px;
}
@media (max-width: 768px) {
  .statistic__title {
    margin-bottom: 30px;
  }
}
.statistic__list {
  display: flex;
}
@media (max-width: 768px) {
  .statistic__list {
    flex-direction: column;
    row-gap: 50px;
  }
}
.statistic__item-card {
  padding-block: 24px;
  padding-inline: 15px;
  box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1019607843);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .statistic__item-card {
    padding-block: 50px;
  }
}
.statistic__item.item--bottom {
  margin-top: 3%;
}
.statistic__item-description {
  min-width: 110px;
}
.statistic__item-bundle {
  width: 100%;
  height: 100%;
}

.testimonials__route, .testimonials__title {
  text-align: center;
}
.testimonials__swiper-buttons-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
  margin-bottom: 87px;
}
@media (max-width: 768px) {
  .testimonials__swiper-buttons-wrapper {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.testimonials__swiper-button-prev, .testimonials__swiper-button-next {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin-top: 0 !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100%;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.3019607843);
  transition: background-color 200ms ease-in-out;
}
.testimonials__swiper-button-prev::after, .testimonials__swiper-button-next::after {
  font-size: 8px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  translate: -50% -50% !important;
}
.testimonials__swiper-button-prev {
  color: var(--gray) !important;
}
@media (hover: hover) {
  .testimonials__swiper-button-prev:hover {
    background-color: var(--white-dark);
  }
}
@media (hover: none) {
  .testimonials__swiper-button-prev:active {
    background-color: var(--white-dark);
  }
}
.testimonials__swiper-button-next {
  background-color: var(--accent-dark);
  color: var(--white) !important;
}
@media (hover: hover) {
  .testimonials__swiper-button-next:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .testimonials__swiper-button-next:active {
    background-color: var(--accent-dark-hover);
  }
}
.testimonials__swiper-slide {
  position: relative;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .testimonials__swiper-slide {
    display: flex !important;
    flex-direction: column;
    padding-left: 0;
    align-items: center !important;
  }
}
.testimonials__swiper-slide-image {
  position: absolute;
  top: 25%;
  left: 1%;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
@media (max-width: 768px) {
  .testimonials__swiper-slide-image {
    position: relative;
    top: 0;
    left: 0;
  }
}
.testimonials__swiper-slide-content {
  max-width: 571px;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.1490196078);
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  margin: 20px 10px 40px 10px;
  padding: 20px 40px 60px 100px;
}
@media (max-width: 768px) {
  .testimonials__swiper-slide-content {
    margin: 10px 40px 40px 20px;
    padding: 25px;
  }
}
.testimonials__swiper-slide-content-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .testimonials__swiper-slide-content-title-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .testimonials__swiper-slide-content-title {
    text-align: center;
  }
}
.testimonials__swiper-slide-content-post {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  margin-right: auto;
}
@media (max-width: 768px) {
  .testimonials__swiper-slide-content-post {
    margin-right: 0;
  }
}
.testimonials__swiper-slide-content-decoration {
  font-size: clamp(48px, 6.6666666667vw, 96px);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--image-border);
}
.testimonials__swiper-slide-content-description {
  max-width: 434px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .testimonials__swiper-slide-content-description {
    font-size: 14px;
    text-align: center;
  }
}

.letest-news {
  background-color: var(--white-dark);
}
.letest-news__route, .letest-news__title {
  text-align: center;
}
.letest-news__title {
  margin-bottom: 50px;
}
.letest-news__list {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media (max-width: 1023px) {
  .letest-news__list {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 768px) {
  .letest-news__list {
    flex-direction: column;
  }
}
.letest-news__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .letest-news__item {
    align-items: center;
  }
}
.letest-news__item-image {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .letest-news__item-image {
    height: 100%;
  }
}
.letest-news__item-image-wrapper {
  margin-bottom: 60px;
}
.letest-news__item-image-wrapper.image--border-bottom-right::after {
  border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 0;
}
.letest-news__item-title {
  margin-bottom: 17px;
}
.letest-news__item-description {
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .letest-news__item-title, .letest-news__item-description {
    text-align: center;
  }
}
.letest-news__item-button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-dark);
  color: var(--white);
  padding-inline: 35px;
  padding-block: 13.5px;
  text-transform: uppercase;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 200ms ease-in-out;
  font-weight: 600;
  align-self: flex-start;
}
@media (hover: hover) {
  .letest-news__item-button:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .letest-news__item-button:active {
    background-color: var(--accent-dark-hover);
  }
}
@media (max-width: 768px) {
  .letest-news__item-button {
    align-self: center;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */