@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&family=Poppins:wght@500;600&display=swap');

:root {
    --black: #212121;
    --black-dark: #111111;
    --gray: #646464;
    --white: #FFFFFF;
    --white-light: #F8F8F8;
    --accent-light: #CAA892;
    --accent-dark: #37806B;
    --icon-background: #D5D5D5;
    --input-background: #EEEEEE;
}

@mixin fluid-text($max, $min) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin poppins ($weight: 500) {
    font-family: "Poppins", serif;
    font-weight: $weight;
    font-style: normal;
}

@mixin open-sans ($weight: 400) {
    font-family: "Open Sans", sans-serif;
    font-weight: $weight;
    font-style: normal;
}

@mixin dekstop {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

body {
    @include open-sans;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    @include fluid-text(72, 36);
    @include poppins(600);
    color: var(--black);
}

h2 {
    @include fluid-text(48, 24);
    @include poppins;
    color: var(--black);
}

h3 {
    @include fluid-text(30, 22);
    @include open-sans(600);
    color: var(--black);
}

h4 {
    @include fluid-text(24, 20);
    @include open-sans(700);
    color: var(--black);

    &.white {
        color: var(--white-light);
    }
}

h5 {
    @include fluid-text(20, 16);
    @include open-sans(600);
    color: var(--gray);
}

p {
    @include fluid-text(18, 14);
    @include open-sans(400);
    color: var(--gray);
}