@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&family=Poppins:wght@500;600&display=swap");
:root {
  --black: #212121;
  --black-dark: #111111;
  --gray: #646464;
  --white: #ffffff;
  --white-light: #f8f8f8;
  --accent-light: #caa892;
  --accent-light-hover: #D5BAA8;
  --accent-dark: #37806b;
  --accent-dark-hover: #3E9179;
  --icon-background: #d5d5d5;
  --input-background: #eeeeee;
  --image-border: #B0855B;
}

* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(14px, 1.25vw, 18px);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(36px, 5vw, 72px);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--black);
}

h2 {
  font-size: clamp(24px, 3.3333333333vw, 48px);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
}

h3 {
  font-size: clamp(22px, 2.0833333333vw, 30px);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--black);
}

h4 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black);
}
h4.white {
  color: var(--white-light);
}

h5 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--gray);
}

p {
  font-size: clamp(14px, 1.25vw, 18px);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--gray);
}

.section {
  padding-block: 80px;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 32px;
}

.header {
  padding-top: 37px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    width: 100%;
    height: 100%;
  }
}
.header__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-left: auto;
  margin-right: 64px;
}
@media (max-width: 1023px) {
  .header__list {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20px;
    padding-block: 20px;
  }
}
.header__item {
  transition: color 200ms ease-in-out;
}
@media (hover: hover) {
  .header__item:hover {
    color: var(--accent-dark);
  }
}
@media (hover: none) {
  .header__item:active {
    color: var(--accent-dark);
  }
}
.header__link {
  font-weight: 500;
  text-transform: uppercase;
}
.header__button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-light);
  color: var(--white);
  font-weight: 600;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-inline: 19px;
  padding-block: 5px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}
@media (hover: hover) {
  .header__button:hover {
    background-color: var(--accent-light-hover);
  }
}
@media (hover: none) {
  .header__button:active {
    background-color: var(--accent-light-hover);
  }
}

.hero__wrapper {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
  align-items: center;
}
@media (max-width: 768px) {
  .hero__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hero__content-route {
  margin-bottom: 12px;
}
.hero__content-title {
  margin-bottom: 23px;
}
.hero__content-description {
  margin-bottom: 28px;
}
.hero__content-button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--accent-dark);
  color: var(--white);
  font-weight: 700;
  padding-inline: 28px;
  padding-block: 7.5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out;
}
@media (hover: hover) {
  .hero__content-button:hover {
    background-color: var(--accent-dark-hover);
  }
}
@media (hover: none) {
  .hero__content-button:active {
    background-color: var(--accent-dark-hover);
  }
}
@media (max-width: 768px) {
  .hero__content-button {
    margin-bottom: 30px;
  }
}
.hero__image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}
.hero__image-wrapper {
  position: relative;
}
.hero__image-wrapper::after {
  content: "";
  position: absolute;
  top: 3.5%;
  left: 3.5%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--image-border);
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */