@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&family=Poppins:wght@500;600&display=swap");

:root {
    --black: #212121;
    --black-dark: #111111;
    --gray: #646464;
    --white: #ffffff;
    --white-dark: #f8f8f8;
    --accent-light: #caa892;
    --accent-light-hover: #d5baa8;
    --accent-dark: #37806b;
    --accent-dark-hover: #3e9179;
    --icon-background: #d5d5d5;
    --input-background: #eeeeee;
    --image-border: #b0855b;
}

$transition-duration: 200ms;
$transition-function: ease-in-out;

@mixin fluid-text($max, $min) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin poppins($weight: 500) {
    font-family: "Poppins", serif;
    font-weight: $weight;
    font-style: normal;
}

@mixin open-sans($weight: 400) {
    font-family: "Open Sans", sans-serif;
    font-weight: $weight;
    font-style: normal;
}

@mixin dekstop {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

* {
    margin: 0;
}

body {
    @include open-sans;
    @include fluid-text(18, 14);
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    @include fluid-text(72, 36);
    @include poppins(600);
    color: var(--black);
}

h2 {
    @include fluid-text(48, 24);
    @include poppins;
    color: var(--black);
}

h3 {
    @include fluid-text(30, 22);
    @include open-sans(600);
    color: var(--black);
}

h4 {
    @include fluid-text(24, 20);
    @include open-sans(700);
    color: var(--black);

    &.white {
        color: var(--white-dark);
    }
}

h5 {
    @include fluid-text(20, 16);
    @include open-sans(600);
    text-transform: uppercase;
    color: var(--gray);
}

p {
    @include fluid-text(18, 14);
    @include open-sans(400);
    color: var(--gray);

    &.white {
        color: var(--white-dark);
    }
}

.section {
    padding-block: 80px;
}

.container {
    max-width: 1920px;
    margin-inline: auto;
    padding-inline: 12.5%;

    @include tablet {
        padding-inline: 60px;
    }

    @include mobile {
        padding-inline: 30px;
    }
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.image {
    &--border-top-left {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -3.5%;
            left: -3.5%;
            width: 100%;
            height: 100%;
            border: 2px solid var(--image-border);
            border-top-left-radius: 140px;
            border-bottom-right-radius: 140px;
            z-index: -1;
        }
    }
    &--border-bottom-right {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 3.5%;
            left: 3.5%;
            width: 100%;
            height: 100%;
            border: 2px solid var(--image-border);
            border-top-left-radius: 140px;
            border-bottom-right-radius: 140px;
            z-index: -1;
        }
    }
}

.header {
    padding-top: 37px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }
    }

    &__logo {
        @include tablet {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        display: flex;
        column-gap: 30px;
        margin-left: 40px;
        margin-right: 20px;

        @include tablet {
            margin-right: 10px;
            margin-left: 10px;
        }

        @include mobile {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            align-items: center;
            column-gap: 0;
            row-gap: 20px;
            padding-block: 20px;
        }
    }

    &__item {
        transition: color $transition-duration $transition-function;
        @include hover {
            color: var(--accent-dark);
        }
    }

    &__link {
        font-weight: 500;
        text-transform: uppercase;
    }

    &__button {
        @include reset-button;

        background-color: var(--accent-light);
        color: var(--white);
        font-weight: 600;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-inline: 19px;
        padding-block: 5px;
        transition:
            color $transition-duration $transition-function,
            background-color $transition-duration $transition-function;

        @include hover {
            background-color: var(--accent-light-hover);
        }
    }
}

.hero {
    &__wrapper {
        display: flex;
        column-gap: 44px;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }
    }

    &__content {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-route {
            margin-bottom: 12px;
        }

        &-title {
            margin-bottom: 23px;
        }

        &-description {
            margin-bottom: 28px;
        }

        &-button {
            @include reset-button;

            background-color: var(--accent-dark);
            color: var(--white);
            font-weight: 700;
            padding-inline: 28px;
            padding-block: 7.5px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            text-transform: uppercase;
            transition: background-color $transition-duration $transition-function;

            @include hover {
                background-color: var(--accent-dark-hover);
            }

            @include mobile {
                margin-bottom: 30px;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 140px;
        border-bottom-right-radius: 140px;
    }
}

.our-service {
    &__route {
        @include mobile {
            text-align: center;
            margin-bottom: 25px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @include mobile {
            justify-content: space-evenly;
            margin-bottom: 20px;
        }

        &-swiper-buttons-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        &-swiper-button-prev,
        &-swiper-button-next {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: fit-content !important;
            height: fit-content !important;
            margin-top: 0 !important;
            width: 30px !important;
            height: 30px !important;
            border-radius: 100%;
            box-shadow: -1px 3px 10px 0px #0000004d;
            transition: background-color $transition-duration $transition-function;

            &::after {
                font-size: 8px !important;
                position: absolute !important;
                top: 50% !important;
                left: 50% !important;
                translate: -50% -50% !important;
            }
        }

        &-swiper-button-prev {
            color: var(--gray) !important;

            @include hover {
                background-color: var(--white-dark);
            }
        }

        &-swiper-button-next {
            background-color: var(--accent-dark);
            color: var(--white) !important;

            @include hover {
                background-color: var(--accent-dark-hover);
            }
        }
    }

    &__swiper {
        padding: 10px 20px 25px 20px !important;

        &-slide-wrapper {
            display: flex;
            column-gap: 20px;
            box-shadow: 0px 8px 20px 0px #00000024;
            border-top-left-radius: 60px;
            border-bottom-right-radius: 60px;
            padding: 40px 20px 40px 40px;

            @include mobile {
                padding-left: 10px;
                padding-right: 0px;
                column-gap: 10px;
            }

            &.accent {
                background-color: var(--accent-light);
            }
        }
    }
}

.about-us {
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        margin-bottom: 100px;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-image-wrapper {
            @include mobile {
                order: 1;
            }
        }

        &-content {
            margin-top: 50px;

            @include mobile {
                text-align: center;
            }

            &-route {
                margin-bottom: 6px;
            }

            &-title {
                margin-bottom: 22px;
            }

            &-description {
                margin-bottom: 28px;
            }

            &-button {
                @include reset-button;

                background-color: var(--accent-dark);
                color: var(--white);
                padding-inline: 18px;
                padding-block: 7.5px;
                text-transform: uppercase;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                transition: background-color $transition-duration $transition-function;
                font-weight: 700;

                @include hover {
                    background-color: var(--accent-dark-hover);
                }

                @include mobile {
                    margin-bottom: 40px;
                }
            }
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 154px;
        margin-top: 50px;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-content {
            @include mobile {
                text-align: center;
            }

            &-text-decorated {
                @include fluid-text(288, 144);
                @include open-sans(700);

                background: url("../images/about-us/james-lindsay.jpg") no-repeat center;
                background-size: cover;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }

            &-title {
                margin-bottom: 28px;
            }

            &-button {
                @include reset-button;

                background-color: var(--accent-dark);
                color: var(--white);
                padding-inline: 18px;
                padding-block: 7.5px;
                text-transform: uppercase;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                transition: background-color $transition-duration $transition-function;
                font-weight: 700;

                @include hover {
                    background-color: var(--accent-dark-hover);
                }

                @include mobile {
                    margin-bottom: 40px;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 140px;
        border-bottom-right-radius: 140px;
    }
}

.statistic {
    background-color: var(--white-dark);

    &__title {
        text-align: center;
        margin-bottom: 87px;

        @include mobile {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        @include mobile {
            flex-direction: column;
            row-gap: 50px;
        }
    }

    &__item {
        &-card {
            padding-block: 24px;
            padding-inline: 15px;
            box-shadow: 0px 13px 16px 0px #0000001a;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            text-align: center;

            @include mobile {
                padding-block: 50px;
            }
        }

        &.item--bottom {
            margin-top: 3%;
        }

        &-description {
            min-width: 110px;
        }

        &-bundle {
            width: 100%;
            height: 100%;
        }
    }
}

.testimonials {
    &__route,
    &__title {
        text-align: center;
    }

    &__swiper-buttons-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 24px;
        margin-bottom: 87px;

        @include mobile {
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__swiper-button-prev,
    &__swiper-button-next {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: fit-content !important;
        height: fit-content !important;
        margin-top: 0 !important;
        width: 30px !important;
        height: 30px !important;
        border-radius: 100%;
        box-shadow: -1px 3px 10px 0px #0000004d;
        transition: background-color $transition-duration $transition-function;

        &::after {
            font-size: 8px !important;
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            translate: -50% -50% !important;
        }
    }

    &__swiper-button-prev {
        color: var(--gray) !important;

        @include hover {
            background-color: var(--white-dark);
        }
    }

    &__swiper-button-next {
        background-color: var(--accent-dark);
        color: var(--white) !important;

        @include hover {
            background-color: var(--accent-dark-hover);
        }
    }

    &__swiper {
        &-slide {
            position: relative;
            padding-left: 50px;

            @include mobile {
                display: flex !important;
                flex-direction: column;
                padding-left: 0;
                align-items: center !important;
            }

            &-image {
                position: absolute;
                top: 25%;
                left: 1%;
                border-top-left-radius: 40px;
                border-bottom-right-radius: 40px;

                @include mobile {
                    position: relative;
                    top: 0;
                    left: 0;
                }
            }

            &-content {
                max-width: 571px;
                box-shadow: 7px 7px 30px 5px #42605426;
                border-top-left-radius: 70px;
                border-bottom-right-radius: 70px;
                margin: 20px 40px 40px 10px;
                padding: 20px 40px 60px 100px;

                @include mobile {
                    margin: 10px 40px 40px 20px;
                    padding: 25px;
                }

                &-title-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile {
                        flex-direction: column;
                    }
                }

                &-title {
                    @include mobile {
                        text-align: center;
                    }
                }

                &-post {
                    @include fluid-text(16, 14);
                    margin-right: auto;

                    @include mobile {
                        margin-right: 0;
                    }
                }

                &-decoration {
                    @include fluid-text(96, 48);
                    @include open-sans(700);

                    color: var(--image-border);
                }

                &-description {
                    max-width: 434px;
                    font-size: 18px;

                    @include mobile {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.letest-news {
    background-color: var(--white-dark);

    &__route,
    &__title {
        text-align: center;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        column-gap: 100px;

        @include tablet {
            column-gap: 50px;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            align-items: center;
        }

        &-image {
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;
            width: 100%;
            position: relative;
            z-index: 1;

            @include mobile {
                height: 100%;
            }

            &-wrapper {
                margin-bottom: 60px;

                &.image--border-bottom-right {
                    &::after {
                        border-bottom-right-radius: 100px;
                        border-bottom-right-radius: 100px;
                        z-index: 0;
                    }
                }
            }
        }

        &-title {
            margin-bottom: 17px;
        }

        &-description {
            margin-bottom: 45px;
        }

        &-title,
        &-description {
            @include mobile {
                text-align: center;
            }
        }

        &-button {
            @include reset-button;

            background-color: var(--accent-dark);
            color: var(--white);
            padding-inline: 35px;
            padding-block: 13.5px;
            text-transform: uppercase;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: background-color $transition-duration $transition-function;
            font-weight: 600;
            align-self: flex-start;

            @include hover {
                background-color: var(--accent-dark-hover);
            }

            @include mobile {
                align-self: center;
                margin-bottom: 50px;
            }
        }
    }
}

.sign-up {
    padding-block: 200px;

    @include mobile {
        padding-block: 100px;
    }

    &__title {
        text-align: center;
        margin-bottom: 37px;
    }

    &__horizontal-line {
        max-width: 460px;
        margin-inline: auto;
        margin-bottom: 40px;
    }

    &__description {
        max-width: 647px;
        text-align: center;
        margin-inline: auto;
        margin-bottom: 29px;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__label {
        display: none;
    }

    &__input {
        max-width: 592px;
        flex-grow: 1;
        outline: none;
        border: none;
        border-top-left-radius: 20px;
        background-color: var(--input-background);
        padding-left: 27px;
        padding-right: 10px;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-function;
        border: 1px solid transparent;

        &:focus {
            border-color: var(--accent-dark);
        }

        @include hover {
            border-color: var(--accent-dark);
        }
    }

    &__submit-button {
        @include reset-button;

        background-color: var(--accent-dark);
        color: var(--white);
        padding-inline: 42px;
        padding-block: 13.5px;
        text-transform: uppercase;
        border-bottom-right-radius: 20px;
        transition: background-color $transition-duration $transition-function;
        font-weight: 600;
        align-self: flex-start;

        @include hover {
            background-color: var(--accent-dark-hover);
        }

        @include mobile {
            padding-inline: 24px;
        }
    }
}

.footer {
    background-color: var(--white-dark);
    padding-bottom: 20px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 37px;
        padding-inline: 40px;
        margin-bottom: 69px;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 37px;
        }
    }

    &__logo {
        @include mobile {
            margin-bottom: 30px;
        }

        &-img {
            @include mobile {
                display: block;
                margin-inline: auto;
                margin-bottom: 10px;
            }
        }

        &-text {
            max-width: 350px;

            @include mobile {
                display: block;
                margin-inline: auto;
                text-align: center;
            }
        }
    }

    &__quick-links,
    &__company,
    &__contact-us {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        @include mobile {
            text-align: center;
            margin-bottom: 40px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        &-link {
            @include open-sans(400);
            @include fluid-text(18, 16);
            color: var(--gray);
            transition-duration: $transition-duration;
            transition-timing-function: $transition-function;

            @include hover {
                color: var(--accent-dark);
            }
        }
    }

    &__follow-us {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        @include mobile {
            align-items: center;
        }

        &-list {
            display: flex;
            column-gap: 8px;
        }

        &-link {
            padding: 9px;
            background-color: var(--icon-background);
            border-radius: 100%;
            transition-duration: $transition-duration;
            transition-timing-function: $transition-function;
            display: flex;
            align-items: center;
            justify-content: center;

            @include hover {
                background-color: var(--accent-dark);
            }
        }
    }

    &__mark {
        padding-top: 15px;
        border-top: 1px solid #c4c4c4;

        &-text {
            text-align: center;
        }
    }
}
